body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #8a2be2;
}

.navbar-brand img {
    height: 50px;
}

.nav-link {
    color: #000000 !important;
}

footer {
    background-color: #8a2be2;
    color: rgb(235, 1, 1);
}

footer img {
    vertical-align: middle;
}

h2, h3 {
    color: #4b0082;
}
